name: github-release

on:
  workflow_dispatch:
    inputs:
      chart:
        description: The chart to release
        required: true
        type: choice
        options:
          - foundryvtt
          - ddb-proxy
          - node-red
          - home-assistant-matter-server
          - otbr
          - garage
          - yas3p
      preview:
        description: Suffix for a preview version
        default: ""
        type: string
        required: false

jobs:
  release:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0
          token: ${{ secrets.RELEASE_TOKEN }}

      - name: setup git config
        run: |
          git config user.name github-actions
          git config user.email github-actions@github.com

      - name: install cocogitto
        uses: cocogitto/cocogitto-action@v4.1.0
        with:
          command: help

      - name: install helm-docs
        run: |
          GOBIN=/usr/local/bin/ go install github.com/norwoodj/helm-docs/cmd/helm-docs@$HELM_DOCS_VERSION
        env:
          HELM_DOCS_VERSION: v1.14.2 # renovate: datasource=github-releases depName=norwoodj/helm-docs versioning=semver

      - name: bump version
        id: release
        run: |
          if [ -z "${PRE_RELEASE}" ]; then
            cog bump --auto --package $CHART
            echo "preview=false" >> $GITHUB_OUTPUT
          else
            cog bump --auto --package $CHART --pre $PRE_RELEASE
            echo "preview=true" >> $GITHUB_OUTPUT
          fi
          VERSION="$(git describe --tags "$(git rev-list --tags --max-count=1)")"
          echo "version=$VERSION" >> $GITHUB_OUTPUT
        env:
          CHART: ${{ inputs.chart }}
          PRE_RELEASE: ${{ inputs.preview }}

      - name: generate changelog
        run: cog changelog --at ${{ steps.release.outputs.version }} > GITHUB_CHANGELOG.md

      - uses: softprops/action-gh-release@v2.4.2
        name: create release
        with:
          body_path: GITHUB_CHANGELOG.md
          tag_name: ${{ steps.release.outputs.version }}
          token: ${{ secrets.RELEASE_TOKEN }}
          prerelease: ${{ steps.release.outputs.preview == 'true' }}
