kind: ConfigMap
apiVersion: v1
metadata:
  name: {{ include "linkwarden.fullname" . }}
data:
  STORAGE_FOLDER: /data/data

  {{- if .Values.route.enabled }}
  {{- with (first .Values.route.hostnames) }}
  NEXTAUTH_URL: "https://{{ . }}/api/v1/auth"
  {{- end }}
  {{- else if .Values.ingress.enabled }}
  {{- with (first .Values.ingress.hosts) }}
  NEXTAUTH_URL: "https://{{ .host }}/api/v1/auth"
  {{- end }}
  {{- else }}
  NEXTAUTH_URL: "http://localhost:3000/api/v1/auth"
  {{- end }}

  PAGINATION_TAKE_COUNT: {{ .Values.linkwarden.paginationTakeCount | quote }}
  AUTOSCROLL_TIMEOUT: {{ .Values.linkwarden.autoscrollTimeout | quote }}
  RE_ARCHIVE_LIMIT: {{ .Values.linkwarden.reArchiveLimit | quote }}
  NEXT_PUBLIC_DISABLE_REGISTRATION: {{ .Values.linkwarden.auth.disableRegistration | quote }}
  NEXT_PUBLIC_CREDENTIALS_ENABLED: {{ not .Values.linkwarden.auth.disableCredentialLogin | quote }}
  DISABLE_NEW_SSO_USERS: {{ .Values.linkwarden.auth.disableNewSSOLogins | quote }}
  ARCHIVE_TAKE_COUNT: {{ .Values.linkwarden.preservationSettings.worker | quote }}
  BROWSER_TIMEOUT: {{ .Values.linkwarden.preservationSettings.timeout | quote }}
  IGNORE_UNAUTHORIZED_CA: {{ .Values.linkwarden.allowInsecureLinks | quote }}
  MAX_LINKS_PER_USER: {{ .Values.linkwarden.maxLinksPerUser | quote }}
  IGNORE_HTTPS_ERRORS: {{ .Values.linkwarden.allowInsecureLinks | quote }}
  NEXT_PUBLIC_ADMIN: {{ .Values.linkwarden.auth.adminUserId | quote }}
  NEXT_PUBLIC_MAX_FILE_BUFFER: {{ .Values.linkwarden.preservationSettings.maxFileSize | quote }}
  PDF_MAX_BUFFER: {{ .Values.linkwarden.preservationSettings.maxPdfSize | quote }}
  SCREENSHOT_MAX_BUFFER: {{ .Values.linkwarden.preservationSettings.maxScreenshotSize | quote }}
  READABILITY_MAX_BUFFER: {{ .Values.linkwarden.preservationSettings.maxReadabilitySize | quote }}
  PREVIEW_MAX_BUFFER: {{ .Values.linkwarden.maxPreviewSize | quote }}
  MONOLITH_MAX_BUFFER: {{ .Values.linkwarden.preservationSettings.maxMonolithSize | quote }}
  IMPORT_LIMIT: {{ .Values.linkwarden.maxImportSize | quote }}

  {{- if .Values.linkwarden.ignoreUrlSizeLimit }}
  IGNORE_URL_SIZE_LIMIT: {{ .Values.linkwarden.ignoreUrlSizeLimit | quote }}
  {{- end }}

  {{- if .Values.linkwarden.monolithCustomOptions }}
  MONOLITH_CUSTOM_OPTIONS: {{ .Values.linkwarden.monolithCustomOptions | quote }}
  {{- end }}

  DISABLE_PRESERVATION: {{ .Values.linkwarden.disablePreservation | quote }}
  NEXT_PUBLIC_RSS_POLLING_INTERVAL_MINUTES: {{ .Values.linkwarden.rssPollingInterval | quote }}
  RSS_SUBSCRIPTION_LIMIT_PER_USER: {{ .Values.linkwarden.rssSubscriptionLimitPerUser | quote }}
  {{- if .Values.linkwarden.preservationSettings.readabilityTextLimit }}
  TEXT_CONTENT_LIMIT: {{ .Values.linkwarden.preservationSettings.readabilityTextLimit | quote }}
  {{- end }}

  {{- if .Values.linkwarden.searchFilterLimit }}
  SEARCH_FILTER_LIMIT: {{ .Values.linkwarden.searchFilterLimit | quote }}
  {{- end }}
  INDEX_TAKE_COUNT: {{ .Values.linkwarden.indexAmount | quote }}

  {{- if .Values.linkwarden.meilisearch.host }}
  MEILI_HOST: {{ .Values.linkwarden.meilisearch.host | quote }}
  MEILI_TIMEOUT: {{ .Values.linkwarden.meilisearch.timeout | quote }}
  {{- end }}
